.top_container {
    background-color: #212529;
    color: #fff;
}

.mid_container {
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom_container {
    background-color: blue;
    height: 200px;
    width: 200px;
}